#video{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    object-fit: cover;
}

body{
    z-index: 1;
}

/* Header */
.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    background-color: #ffd83a;
    display: flex;
    height: 100px;
    justify-content: center;
    border-radius: 50px;

}
/*eee*/
.logo{
    width: 80px;
    height: 80px;
    margin-left: 60px;
}
.nav-link1{
    font-size: 20px;
}.nav-link2{
     margin-left: 100px;
     font-size: 20px;
 }

.header-div a{
    padding: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* Как делать на кнопке переливание цветов */
/*.header-div a:hover{*/
/*    color: #F0A410;*/
/*    transition: 0.5s all ease;*/
/*    text-decoration: none;*/
/*}*/

.razruv{
    margin-top: 65%;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;

}
.map{
    width: 90%;
    opacity: .90;
    border-radius: 50px;
    height: 800px;
    background-color: whitesmoke;
    justify-content: center;
    border: solid black 5px;
}

.name-cul{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    padding: 10px 600px;
}

.img-culs{
    display: flex;
    padding-top: 20px;
}

.img-culs_1{
    padding-left: 20px;
}
.cul1{
    width: 90%;
    height: 110%;
    padding-top: 50px;
}.cul2{
     width: 90%;
     height: 110%;
 }.cul3{
       width: 90%;
       height: 110%;
       padding-top: 50px;
   }


/*cart  */

.cart_yandex{
    background-color: #fff;
    margin: 400px 5%;
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-areas:
    "g c"
    "g c";
    grid-template-columns:  5fr 5fr;
    border: solid 2px black;
    opacity: .90;
    border-radius: 50px;
}

.curt_img{
    grid-area: c;
    padding-top: 50px;
}

.curt_img iframe{
    width: 90%;
}

.message_curt_info{
    grid-area: g;
    padding: 250px 5% 20px 5%;
}

.message_curt_info h1{
    font-size: 25px;
}


/*news*/

.giv_new-information{
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid black;
    height: 800px;
    width: 1500px;

}

.img-person-leontiy{
    width: 600px;
    height: 400px;
}


.posts a{
    font-size: 25px;
}

.news_information {
    margin: 0px 5%;
    opacity: .90;
}

.posts {
    display: grid;
    grid-template-areas:
    "p l"
    "p l";
    grid-template-columns: 1fr 1fr;
}
.post-1{
    margin: 100px 50px 100px 50px;
    width: 80%;
    grid-area: p;
}

.post_2{
    grid-area: l;
    margin: 100px 50px 100px 50px;
    width: 600px;
}

.img-freebet{
    width: 600px;
    height: 400px;
}

.about-me{
    margin: 500PX 90PX ;
    width: 90%;
    background-color: #fff;
    border: solid black 2px;
    border-radius: 50px;
    height: 800px;
    display: grid;
    opacity: .90;
    grid-template-areas:
    "o s"
    "o s";
    grid-template-columns: 1fr 1fr;
}

.left-about-me{
    padding: 250px 100px ;
    grid-area: o;
}

.right-about-me{
    grid-area: s;
    margin: 100px 0px;
}
.right-about-me img{
    width: 600px;
    height: 550px;
    border-radius: 50px;

}

.cloth {
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid black;
    height: 800px;
    opacity: .90;
    display: flex;
    width: 100%;
    margin: 500px 0%;
}

.t-shorts{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0px 5%;
}



.merch{
    padding: 50px 750px;
    font-size: 30px;
    font-weight: 600;
}

.merches img{
    width: 200px;
    margin: 50px 30px;
    height: 300px;
    border-radius: 50px;
    border: solid 2px black
}

.merches{
    margin-left: 40px;
}
.flex{
    display: flex;
    justify-content: center;
}



.aHrefMerch{
    background: #ffd83a;
    width: 1000px;
    display: flex;
    height: 50px;
    border-radius: 50px;
    border: solid black 2px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 70px 350px;

}
.aHrefMerch a{
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

footer{
    width: 90%;
    opacity: .90;
    height: 200px;
    background-color: #304146;
    padding: 50px;
    margin: 0px 0px 0px 40px;
    color: white;
    display: grid;
    border-radius: 50px;
    border: solid black 2px;
    grid-template-areas:
    "a"
    "b"
    'l'
;
}

